<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            required
            ngModel
          />
        </div>
        <div class="col-sm-3 col-xs-12 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            required
            pattern="^[1-9]+[0-9]*$"
            ngModel
            #amount="ngModel"
          />
          <span *ngIf="!amount.valid && amount.touched" class="help-block">
            Please enter a valid number
          </span>
        </div>
        <div class="col-sm-2 col-xs-12 form-group">
          <label for="unit">Unit</label>
          <select name="unit" id="unit" class="form-control" ngModel="g">
            <option *ngFor="let unit of units" [value]="unit">
              {{ unit }}
            </option>
          </select>
          <!-- <input type="text" id="unit" name="unit" ngModel /> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!ingredientForm.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button class="btn btn-danger" type="button" [disabled]="!editMode">
            Delete
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
